.wrapper {
  max-width: 90%;
  height: 100%;
  border-radius: 20px;
  margin: 20px auto;
  background: #fff;
  hr {
    width: 100%;
    border: #eaeaea 1px solid;
  }
  .content {
    padding: 45px 0;
  }
}
