.wrapper {
    max-width: 1080px;
    height: 100%;
    border-radius: 20px;
    margin: 85px auto 0 auto;
    background: #fff;
    hr {
        width: 100%;
        border: #EAEAEA 1px solid;
    }
    .content {
        padding: 45px 60px;
    }
}