.search {
  display: block;
  position: relative;
  width: 100%;
  input {
    display: block;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    padding: 14px 14px 14px 45px;
    line-height: 17px;
    width: 100%;
    border: $border;
    border-radius: 10px;
  }
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 15px;
    height: 15px;
  }
}
