.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 46px 60px;
    a {
        text-decoration: none;
        color: #000;
    }
    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        &-text {
            margin-left: 16px;
        }
        img {
            width: 40px;
            height: 40px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
            color: #9D9D9D;
        }
    }
    &__nav {
        display: flex;
        width: 310px;
        justify-content: space-between;
        a {
            text-decoration: none;
        }
        &-item {
            list-style-type: none;
            cursor: pointer;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #CCCACA;
            &.selected {
                font-weight: 700;
                color: $main-color;
                &-favorites {
                   color: #FF8585; 
                }
            }
        }
    }
    &__cart {
        display: flex;
        cursor: pointer;
        height: 25px;
        justify-content: space-between;
        align-items: center;
        img {
            width: 25px;
            height: 25px;
        }
        b {
            color: $main-color;
            margin-right: 10px;
        }
    }
}