.filters {
  margin: 40px 0 0 40px;
  width: 236px;
  height: 630px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 25px 13px;
  &__sort {
    display: block;
    margin-top: 60px;
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
    }
    select {
      cursor: pointer;
      margin-top: 10px;
      display: block;
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      padding: 14px 0 14px 5px;
      border: 2px solid #f3f3f3;
      border-radius: 10px;
      outline: none;
    }
  }
  &__brands {
    margin-top: 20px;
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
    }
    &-wrapper {
      margin-top: 10px;
      width: 210px;
      height: 180px;
      overflow: auto;
      padding: 15px 15px 10px 15px;
      border: 2px solid #f3f3f3;
      border-radius: 10px;
      label {
        display: flex;
        margin-bottom: 10px;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  &__sale {
    align-items: center;
    display: flex;
    width: 173px;
    margin: 20px auto 0 auto;
    justify-content: space-between;
    b {
      position: relative;
      padding-left: 34px;
      &::before {
        content: '';
        position: absolute;
        display: block;
        background: url('./sale.svg') no-repeat center/cover;
        top: -5px;
        left: 0;
        width: 24px;
        height: 24px;
      }
    }
    input {
      display: block;
    }
  }
  button {
    margin-top: 20px;
    width: 211px;
    &[type='reset'] {
      margin-top: 10px;
    }
  }
}
