$main-color: #89cb34;
$red: #ff8585;
$border: 2px solid #f3f3f3;
$asideWidth: 300px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}

h1,
h2,
h3 {
  font-weight: 700;
}

body {
  position: relative;
  background: #fff;
  height: 100%;
}

@import './UI/Search/Search';
@import './UI/Btn/Btn';
@import './UI/Slider/Slider';
@import './components/App/App';
@import './components/Header/Header';
@import './pages/Pages';
@import './components/Cart/Cart';
@import './components/CartItem/CartItem';
@import './components/EmptyCart/EmptyCart';
@import './components/Filters/Filters';
@import './components/EmptyFavorites/EmptyFavorites';
@import './components/CompleteOrder/CompleteOrder';
@import './components/EmptyOrders/EmptyOrders';
@import './components/Pagination/Pagination';
